# Environment variables declared in this file are automatically made available in process.env.
# on the server side.

DATABASE_URL = "file:./example.sqlite"
JWT_SECRET = "example_jwt_secret"
NODE_ENV = "development"
VITE_GOOGLE_MAPS_API_KEY = "example_google_maps_api_key"
