# Environment variables declared in this file are automatically made available in process.env.
# on the server side.

DATABASE_URL =              "file:./example.sqlite"
JWT_SECRET =                "example_jwt_secret"

#API_ENV =                   "production"
API_ENV =                   "development"
#CAPACITOR_ENV =             "production"
CAPACITOR_ENV =             "development"

CAPACITOR_CLIENT_ID =       "example_client_id"
DEBUG_MOTION =              "false"

VITE_GOOGLE_MAPS_API_KEY =  "example_google_maps_api_key"
#VITE_BASE_URL =             "https://example.tld"
VITE_BASE_URL =             "http://localhost:3000"
VITE_REACT_APP_VERSION =    "1.0.0"
